body {
    font-family: Arial, Helvetica, sans-serif;
}

.feedback-widget {
    position: fixed;
    background: #3d136f;
    bottom: 50px;
    right: 50px;
}

.feedback-widget a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.fa-comment-dots,
.fa-thumbs-up,
.stars:not(:checked)>label:hover,
.stars>input:checked~label {
    color: #f7d000;
}

.form {
    width: 225px;
    padding: 15px;
    display: none;
}

.stars {
    padding: 0 29px;
}

.stars label {
    font-size: 25px;
}

.stars:not(:checked)>input {
    display: none;
}

.stars:not(:checked)>label {
    color: #fff;
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

.form-group textarea {
    max-width: 96%;
    resize: vertical;
    height: 60px;
    margin-top: 10px;
}

.btn {
    background: #456f13;
    border-color: #456f13;
    color: #fff;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.thanks {
    color: #fff;
    font-size: 20px;
    display: none;
    padding: 15px;
}