<div class="wrapper fadeInDown">
   <!DOCTYPE html>
   <html lang="en">
    <header>
        <title>LOG IN</title>
        <LINK href="log-in.css" rel="stylesheet">
    </header>
    <body>
        <script src="log-in.js"></script>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
              <h2 class="active"> Sign In </h2>
              <h2 class="inactive underlineHover">Sign Up </h2>
          
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="profile.jpeg" id="icon" class="icon" alt="User Icon" />
              </div>
          
              <!-- Login Form -->
              <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
              </div>
          
            </div>
          </div>

</html>