<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rapid Repairs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-up</title>
    <link rel="stylesheet" href="style1.css" />
</head>
<body>
    <section class="container">
        <header>Sign-up
            <br>
        <p>
        <a href="homebfsp.html">Home</a>/
        <a href="signin.html">Sign-in</a>
        </p>
        </header>
        <form id="registrationForm" class="form">
            <div class="input-box">
                <label>Field of Work</label>
                <div class="select-box">
                    <select id="fieldOfWork" required>
                        <option hidden>Select Field of Work</option>
                        <option>Painting</option>
                        <option>Electrical</option>
                        <option>Plumbing</option>
                        <option>Carpentry</option>
                        <option>Cleaning</option>
                        <option>Roofing Repairs</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="input-box">
                <label>Qualification</label>
                <input id="qualification" type="text" placeholder="Enter your Qualification" required />
            </div>
    
            <div class="column">
                <div class="input-box">
                    <label>Years of Experience</label>
                    <input id="yearsOfExperience" type="number" placeholder="Enter years of experience" required />
                </div>
                <div class="input-box">
                    <label>Birth Date</label>
                    <input id="birthDate" type="date" placeholder="Enter birth date" required />
                </div>
            </div>
            
            <div class="input-box address">
                <label>Address</label>
                <div class="column">
                    <div class="select-box">
                        <select id="district" required>
                            <option hidden>Select District</option>
                            <option>Alappuzha</option>
                            <option>Ernakulam</option>
                            <option>Idukki</option>
                            <option>Kannur</option>
                            <option>Kasaragod</option>
                            <option>Kollam</option>
                            <option>Kottayam</option>
                            <option>Kozhikode</option>
                            <option>Malappuram</option>
                            <option>Palakkad</option>
                            <option>Pathanamthitta</option>
                            <option>Thiruvananthapuram</option>
                            <option>Thrissur</option>
                            <option>Wayanad</option>
                        </select>
                    </div>
                    
                    <input id="city" type="text" placeholder="Enter your city" required />
                </div>
                <div class="column">
                    <input id="region" type="text" placeholder="Enter your region" required />
                    <input id="postalCode" type="number" placeholder="Enter postal code" required />
                </div>
            </div>
    
            <button id="signUp1" type="button" >Register</button>
        </form>
    </section>

    <!--<script>
        function registerUser() {
            var role = document.querySelector('input[name="role"]:checked').value;
            if (role === "customer") {
                // Redirect to home page for customer
                window.location.href = "password.html";
            } else if (role === "serviceprovider") {
                // Redirect to page for additional details for service provider
                window.location.href = "serviceproviderdetail.html";
            }
            return false; // Prevent form submission
        }
    </script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/8.10.0/firebase-app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/8.10.0/firebase-database.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/8.10.0/firebase-auth.js"></script>

    <script src="sample.js"></script>
   
    </script>
    
</body>
</html>
